In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

# Load the CSV file into a pandas dataframe
data = pd.read_csv("/home/billys/^IXIC.csv")

In [3]:
data.head()

         Date          IXIC       DUOL
0  2022-04-20  13453.070313  89.370003
1  2022-04-21  13174.650391  85.910004
2  2022-04-22  12839.290039  86.000000
3  2022-04-25  13004.849609  90.190002
4  2022-04-26  12490.740234  86.260002

In [9]:
# Calculate the daily returns for Duolingo and the IXIC index
duolingo_returns = np.log(data["DUOL"] / data["DUOL"].shift(1)).dropna()
ixic_returns = np.log(data["IXIC"] / data["IXIC"].shift(1)).dropna()

In [31]:
cov = np.cov(duolingo_returns, ixic_returns)
cov

array([[0.0020615 , 0.00044936],
       [0.00044936, 0.00035088]])

In [10]:
# Create a dataframe with the returns for both assets
data = pd.concat([duolingo_returns, ixic_returns], axis=1)
data.columns = ["Duolingo Returns", "IXIC Returns"]

In [11]:
# Fit a linear regression model of Duolingo returns on IXIC returns
model = sm.OLS(data["Duolingo Returns"], sm.add_constant(data["IXIC Returns"]))
results = model.fit()

In [26]:
# Extract the beta coefficient from the results

beta = results.params[1]

# Print the beta coefficient
print("The beta of Duolingo stock is:", beta)

The beta of Duolingo stock is: 1.2806562006912547

In [35]:
rf = 3.60
rm = 7.51

In [36]:
r_Duolingo = rf + beta * (rm - rf)

In [37]:
# Print the expected return of Duolingo stock
print("The expected return of Duolingo stock is:", r_Duolingo)

The expected return of Duolingo stock is: 8.607365744702806